body {
	font-size: 16px;
	font-family: 'Droid Serif', serif;
	font-size: 1.1em;
	color: #333333;
}
body > div {
	margin-bottom: 20px;
}
a {
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
	padding: 4px 10px;
	border-radius: 5px;
	background-color: #369108;
}
a:hover, a:focus {
	box-shadow: 0 1px 5px 1px #369108;

}
h2 {
	color: #333333;
	font-size: 1.2em;
}
button {
	font-family: 'Droid Serif', serif;
	font-size: 0.8em;
	color: #fff;
	border-radius: 5px;
	background-color: #175E82;
	border: none;
	padding: 4px 10px;
	margin: 5px 20px 5px 0;
}
button:hover, button:focus {
	outline: none;
	box-shadow: 0 1px 5px 1px #175E82;
} 
/* PAGE_2 */
div#two_buttons {
	height: 120px;
	position: relative;
}
div#two_buttons button {
	position: absolute;
	bottom: 5px;
}
button.number_two {
	position: absolute;
	left: 100px;
}
p#demo_6 {
	display: none;
}
/* END PAGE_2 */
@media (max-width: 767px) {
	p {
		font-size: 4vw;
	}
	button {
		font-size: 0.8em;
	}
	div#two_buttons {
	height: 160px;
}
div#two_buttons button:nth-child(1) {
	bottom: 20px;
}
	div#two_buttons button:nth-last-child(1) {
	bottom: 5px;
	}
}